body {
  padding: 0px;
  margin: 0px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  height: 30vh;
  background-color: black;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  padding-top: 3rem;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}
.header-logo img {
  width: 100%;
  border-radius: 70px;
}
.nav-links {
  margin: 1rem;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.1rem;
  font-family: "Francois One";
}

/* Main Body */
.card-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  background-color: black;
}
.card {
  display: flex;
  flex-flow: column wrap;
  width: 24%;
  justify-content: center;
  align-items: flex-start;
  height: 12%;
  margin: 0.5rem;
}
.card img {
  width: 100%;
}
.image-header-text {
  text-align: left;
  color: white;
  font-family: "Trebuchet MS";
  text-transform: uppercase;
}
.image-grey-text {
  text-align: left;
  color: grey;
  font-family: "Francois One";
  font-size: 1rem;
  font-weight: lighter;
  text-transform: capitalize;
  margin: 0rem 0 2rem 0rem;
}

/* footer */

.footer-container {
  display: flex;
  background-color: #161e1f;
  justify-content: space-between;
  max-height: 56vh;
}

.footer-left-container img {
  width: 4vw;
  border-radius: 100px;
  margin: 6rem 6rem;
}
.footer-right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 60%;
  padding-top: 4rem;
}

.copyright {
  background-color: #161e1f;
  margin: 0px;
  padding: 3rem;
  color: white;
  text-align: left;
  font-size: large;
}

.text-grey {
  color: grey;
  text-transform: uppercase;
}
.text-email {
  text-decoration: underline;
}

.text-footer {
  color: white;
  font-size: 1.2rem;
  font-family: Molengo;
  line-height: 1.1;
}
